body{
    background-color: black;

    main{
        
        text-align: center;

        article{
            margin-top: 3rem;
            width: 100%;
            text-align: center;

            img{
                width: 100%;
            }

           .info{
            margin: 1rem;
           } 

           margin-bottom: 2rem;

        }

        .back-button{
            font-size: 40px;
            color: white;
        }
    }

    footer{
        background-color: black;
        color: white;
    }
}

