body{
    background-color: black;

    main{
        

        article{
            margin-top: 3rem;
            width: 100%;
            text-align: center;

           .info{
            margin: 1rem;
           } 
        }
    }

    footer{
        background-color: black;
        color: white;
    }
}

