* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    background: rgb(0,0,0);
    background: linear-gradient(180deg, #000000 80%, rgba(9,9,121,1) 90%, rgba(0,212,255,1) 100%);
    color: white;

    header{

        nav{
            text-align: center;
            padding: 1rem;
            background-color: #000000;

            // display: flex;
            // justify-content: space-between;
            // padding: 1rem;
            
            // ul{
            //     width: 30%;
            //     list-style-type: none;
            //     display: flex;
            //     justify-content: space-between;
            //     text-decoration: none;

            //     a{
            //         text-decoration: none;
            //         color: white;
            //     }
            // }
        }

    }
    main{

        &::before{
            content: "";
            position: fixed;
            background-image: url('images/rocket.png');
            z-index: -1;
            top: 0;
            bottom: 0;
            z-index: 0;
        }

        article{
            display: flex;
            flex-direction: column;
            text-align: center;
            section{
                display: flex;
                flex-direction: column;
                padding: 1rem;
                align-items: center;
                margin-bottom: 3rem;
                
                img{
                    width: 100%;
                }
                .planet-info{
                    background-color: black;
                    border-radius: 10px;
                    border: 2px dotted red;
                    padding: 1rem;
                    h2{
                        margin-bottom: 1rem;
                    }
                }   
            }
        }
    }

    footer{
        text-align: center;
        margin-top: 100vh;
    }
  
    &::after {
        content:"";
        position: fixed;
        z-index: -1;
        top: 0;
        bottom: 0;
        left: 50%;
        width: 0;
        border-left: 4px dotted #8f8e8e;
        min-height: auto;
        display: inline-block;
        margin-bottom: 3rem;
    }


    

   


  
}

